<!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
            <h1 class="page-header">About
                </h1>
                 <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

<!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
           <img class="img-responsive" src="<%= asset_path('allcarsbanner.jpg') %>" draggable="true" ondragstart="drag(event)" width="600" height="350" alt="car">
            </div>
           	  <div class="col-md-6">
                <h2>Car Sales Ltd</h2>
                <p>Established in 2000 the PN brand has steadily grown into one of the largest family-run carsales dealer networks in the UK. Every year we assist thousands of Ford owners and new customers in finding, purchasing and maintaining their preferred vehicle.</p><p>
				Our aim is to be your 'one-stop shop' for everything Ford. Visit us to choose from approved used cars or commercial vehicle. We can also offer you tailored finance and servicing deals with any model. Throughout your ownership of your car, you'll be supported by our accident repair, maintenance and MOT services, with genuine Ford parts and accessories available to fit your model perfectly.</p><p>
				Phil Ndlovu celebrated 30 years in the motoring industry in 2016, and we're continuing to go from strength to strength. Our comprehensive knowledge of used vehicles, parts and services is combined with the warm and friendly service provided by each member of our team.
				If you'd like to learn more about our heritage, our team and any of the services that we offer, please contact your nearest Phil Ndlovu dealership.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
     <div class="row">
          <div class="col-lg-12">
             <h2 class="page-header">Our Team</h2>
          </div>
            
     <div class="col-md-4 text-center">
         <div class="thumbnail">
             <img class="img-responsive" src="<%= asset_path('pitso.jpg') %>" draggable="true" ondragstart="drag(event)" width="600" height="350" alt="manager">
                <div class="caption">
                     <h3>Phil Ndlovu<br>
                       <small>Chief Executive Officer</small>
                     </h3>
                        <p>Phil has been with the company from inception, you have     questions specifically for him, feel free to drop him a line.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/mzwane?ref=bookmarks"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= asset_path('pitso.jpg') %>" draggable="true" ondragstart="drag(event)" width="600" height="350" alt="manager">
               <div class="caption">
                <h3>Jayden Mali<br>
                    <small>Marketing director</small>
                </h3>
                <p>Jayden Mali Ndlovu joined the company just short of 5 years, hes been around since and improved carshop marketing and search engine optimisation.</p>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/mzwane?ref=bookmarks"><i class="fa fa-2x fa-facebook-square"></i></a>
                    </li>
                    <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-linkedin-square"></i></a>
                    </li>
                    <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= asset_path('manager.jpg') %>" draggable="true" ondragstart="drag(event)" width="600" height="350" alt="manager">
            <div class="caption">
                <h3>Nicole Busiswa Ndlovu<br>
                    <small>Managing Director</small>
                </h3>
                <p>Nicole AKA Busi took over the company during recession 2008, she has been a valuable assest to carshop.com until now.</p>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/mzwane?ref=bookmarks"><i class="fa fa-2x fa-facebook-square"></i></a>
                    </li>
                    <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-linkedin-square"></i></a>
                    </li>
                    <li><a href="https://twitter.com/servedbyJC"><i class="fa fa-2x fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

	<div class="container">
		<div class="content clearfix home-figures no-background hide_title">
			<div class="row">
				<div class="col-sm-12">
					<h2>Home Figures</h2>
				</div>
			</div>


<div class="row">				
	</div>
		<div class="animatedBlock row clearfix">
			<div class="col-sm-6 col-md-4 block-medium">
			<div class="percentBlock" style="background-color:#2192B8">
				<h3><span class="counter">99</span>%</h3>
				<p>of UK consumers know about the customer services we provide</p>
			</div>									
		</div><!-- col -->

   <div class="col-sm-6 col-md-4 block-medium">
		<div class="percentBlock" style="background-color:#2192B8">
			<h3><span class="counter">5</span>X</h3>
			<p>larger consumer audience compared to our nearest competitors</p>
		</div>										
	</div><!-- col -->

		<div class="col-sm-6 col-md-4 block-medium">
			<div class="percentBlock" style="background-color:#2192B8">
				<h3><span class="counter">90</span>%</h3>
				<p>of UK car buyers purchase from us</p>
			</div>										
		</div><!-- col -->
	</div><!--animatedBlock-->				
</div><!--container-->	

<div class="container">
	<div class="row">
		<div class="col-sm-12">
		 <h2>Carshop is the UK’s largest digital automotive in the UK </h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">	
		<p><span style="font-family: 'Arial',sans-serif;"><span style="color: #000000;">Carshop plc is the UK and Ireland&#8217;s largest digital automotive business. Carshop sits at the heart of the UK&#8217;s vehicle buying process and our primary activity is to help customers find used vehicles in affordable prices. Carshop is listed on the London Stock Exchange in March 2012 and is now a member of the FTSE 250 Index.</span></span></p>

		<p>Carshop's market-leading position enables it to generate and collect large amounts of data on the UK’s automotive marketplace and leverage its possession of such data to create a suite of products which helps retailers in the following areas:</p>
	<p>&nbsp;</p>
<p>&nbsp;</p>
	</div>					
</div>

<div class="row"><div class="imageTopBlock clearfix">
	<div class="col-sm-6 col-md-3 block-small">
		<div class="image-top-container auto-trader-is-the-uk’s-largest-digital-automotive-marketplace-block buying">
			<div>
			<img src="http://about-us.autotrader.co.uk/wp-content/uploads/BSMM_01.png" alt="" class="img-responsive"/>
			</div>
		 <div>
		<h3>Buying</h3><h4>Find the right stock at the right price</h4>				
	  </div>
	</div>										
</div><!-- col -->


<div class="col-sm-6 col-md-3 block-small">
	<div class="image-top-container auto-trader-is-the-uk’s-largest-digital-automotive-marketplace-block selling">
			<div>
			   <img src="http://about-us.autotrader.co.uk/wp-content/uploads/BSMM_03.png" alt="" class="img-responsive"/>
			</div>
		<div>
	 <h3>Selling</h3><h4>We get stock in front of as many buyers as possible</h4>
  </div>
</div>										
</div><!-- col -->

<div class="col-sm-6 col-md-3 block-small">
	<div class="image-top-container auto-trader-is-the-uk’s-largest-digital-automotive-marketplace-block marketing">
		<div>
			<img src="http://about-us.autotrader.co.uk/wp-content/uploads/BSMM_05.png" alt="" class="img-responsive"/>
			</div>
		<div>
	  <h3>Marketing</h3><h4>Promote the business across the multiple digital channels that buyers use</h4>	
	</div>
  </div>										
</div><!-- col -->


<div class="col-sm-6 col-md-3 block-small">
			<div class="image-top-container auto-trader-is-the-uk’s-largest-digital-automotive-marketplace-block managing-">
				<div>
					<img src="http://about-us.autotrader.co.uk/wp-content/uploads/BSMM_07.png" alt="" class="img-responsive"/>
				</div>
				<div>
			<h3>Managing </h3><h4>Optimise stock turn and profit</h4>	
		</div>
	</div>										
</div><!-- col -->
 </div><!--imageTopBlock-->
   </div><!--row-->			
    </div><!--content-->
      <div class="container">
        <div class="content clearfix company-information  ">
		   <div class="row">
			<div class="col-sm-12">
				<h2>Company Information</h2>
				</div>
		   </div>

 <div class="row">
	<div class="col-sm-12">	
	  <p>Carshop Group plc, registered in England (Company number: 08954323)</p>
			<p>Carshop Limited, registered in England and Wales (Company number: 056344325)</p>
			<p>&nbsp;</p>
			<p>Registered address:<br />3 headley road<br /> Leicestershire<br /> LE3 2PJ</p>
			<p>VAT number: GB 657 2718 90</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	</div>
</div>
	</div>
		</div>
			</div>
