<!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
            <h1 class="page-header">FAQ
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I register for carshop account?</a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                To register as a new user click ‘Account’ in the top right of the screen, then click ‘Register’. Submit a few details and our system will then send you an email to verify that the email is legitimate. After that your account will be active.
                            </div>
                        </div>
                    </div>

                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">I have not recieved conformation email, what should I do?</a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you cannot find your confirmation email, please check your junk and spam folders. If you do not receive your confirmation email, please use our 'Contact us' form.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I log in?</a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sign in by clicking ‘My Account’ in the top right of the screen, then click 'Sign In'. In the next screen enter the email address and password that you used to register.how to sign in screen. Some browsers ‘autocomplete’ these boxes if you have used them before. If you have problems, ensure the information in both boxes is correct.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What should I do if I have forgotten my password? </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you have forgotten your password, you can reset it. To do this, click on the 'I have forgotten my password' section of the sign in screen. Submit your email address, and you will receive an email containing a special link allowing you to reset your password. If you cannot find the email, please check your Junk and Spam folders. If you do not receive the email, please get in touch with us via our 'Contact us' form.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What browsers does your site support?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our site should work in all the major browsers and we recommend you always make sure you have the latest version installed.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Who do I contact if my question is not listed here?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Please use our Contact Us page to reach our Customer Support department. The opening times are 9-5.30, Monday – Friday excluding bank holidays.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">I have forgotten my Password. How can I retrieve it??</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                 <p>To retrieve your Password, please follow the steps below:</p><br>
                                    <p>1. Click on “SIGN IN” from the top right corner of the page.</p>
                                    <p>2. Now, click on “Forgot Password?” link.</p>
                                    <p>3. Enter your email address in the “Email Address” field.</p>
                                    <p>4. Click on “Send Email” button.
                                    Now, you will receive an email with instructions on how to reset your password.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How can I change my Password?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We suggest that you change your password every now and then, to help keep your membership account safe from prying eyes. To do that, please follow the steps below:</p><br>
                                <p>1. Click on “SETTINGS” from the main navigation menu bar at the top of any page on this community.</p>
                                <p>2. Go to the “Change Password” section.</p>
                                <p>3. Enter your Password, in order to prove you are the account holder and then enter your new password twice, to make sure you typed it right. </p>
                                <p>4. When you are done, click on “Change Password” button to change your password..</p><br>

                               <p>Tip: Try to make your password at least eight characters long and include some numbers and special characters (like asterisks or exclamation marks) as well as alphabetic characters.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">I am not able to permanently delete my account. How can I delete it?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Of course, we don’t want you to leaver but if you must, you can delete your account by following the steps below:</p><br>
                                <p>1. Click on “SETTINGS” from the main navigation menu bar at the top of any page on this community.</p>
                                <p>3. Click on “Delete Account’ in the “My Settings” navigation.</p>
                                <p>4. From the popup, click on “Yes, Delete My Account” to confirm the deletion.
                                Any content you've uploaded in the past will be permanently deleted, you will be immediately signed out and will no longer be able to sign into this account.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
