    <div class="container">
        <div class="row">
            <div class="col-xs-12">
      
        Car Shop Privacy Policy ("Policy")</h1>

        <p>Carshop Limited ("Car Shop") is committed to protecting your privacy. This Policy applies to
            visitors of the Auto Trader website at www.autotrader.co.uk (the "Website").</p>
        <p>References in this Policy to "Auto Trader" also apply to its sister channels on this Website, including: Commercial Trader, Auto Trader Bikes, Auto Trader Trucks, Auto Trader Plant, Auto Trader Vans, Auto Trader Farm, Auto Trader Motorhomes, Auto Trader Caravans and Prestige Cars "Top Marques".</p>
        <p>This Policy sets out the basis on which any personal data that Auto Trader collects from you or that you provide to Auto Trader, will be processed by Auto Trader. Please read the following information carefully to understand Auto Trader's views and practices regarding your personal data and how Auto Trader will treat it.</p>
        <p>For the purpose of the Data Protection Act 1998, the data controller is Auto Trader Limited, a company registered in England and Wales under company registration number 03909628 and whose registered office address is at Auto Trader Limited, 4th Floor, 1 Tony Wilson Place, Manchester, M15 4FN.</p>
        <p>All details supplied to Auto Trader with your online advertisement will be safeguarded both by this Policy and also by the Data Protection Act 1998.</p>
        <p>Amendments and updates to this Policy may be made from time to time. Any revisions will be posted on this page so you will always be aware of what information we collect. Please review this page regularly so that you are aware of any changes.</p>
    </div>
    
        <h2>Information collected and what it is used for</h2>
        <p>Carshop may collect the following information about you:</p>

        <p><strong>Information you provide when you place an advertisement on the Website</strong></p>

        <p>As part of the advert placement process we will collect your name, email address and telephone number. We will also collect your postcode in order to provide a positioning of each vehicle within our database, this allows potential buyers to locate vehicles for sale within a set radius of a chosen location.</p>

        <p>If your advert expires we will contact you via phone or email to give you the option to rebook your
            advert.</p>

        <p>We use certain features to protect the privacy of our customers when they are communicating via phone or
            email. We mandate Protect Your Number on all adverts at the point of entering their phone number.
            Protect Your Number enables you to keep your telephone number private by providing you with a substitute
            telephone number to use in your advert. You will need to contact our Customer Service team if you wish
            to remove this facility Please be aware that if you opt out, your personal telephone number will be
            visible within your advert.</p>

        <p>We supply a customer to customer email service that allows individuals who are viewing your advert to
            contact you via a link displayed on your advert, without exposing your email address. We use this to
            disable any potential harmful or spurious links that may expose you to fraudulent activity. The use of
            the customer to customer email service is mandatory for security provisions. We reserve the right to
            monitor and retain all communications via the email service for security monitoring purposes.</p>
        <p>You will also be required to supply payment details and the vehicle registration number of the vehicle you wish to sell. Payment Card information is collected over a secure connection and all payment transactions will be encrypted. Payment Card information is used solely for the purpose of processing payment for your advert. Auto Trader retains no record of Payment Card details.</p>

        <p>Where advertising packages include additional benefits provided by third parties, we may pass your
            details on to these third parties to enable them to supply those benefits, provided that you have
            selected to opt in to receive information from third parties.</p>

        <p><strong>Information we request from you if you place an advert on the Website</strong></p>
        <p>If you place an advert on the Website, we will need to collect your email address to send you communications about how to access and manage your account (available within the "My Auto Trader" section of the Website). You can access this area at any time in order to update your details or change your options regarding marketing communications from Auto Trader and/ or selected third parties. Carshop will only use your information for marketing purposes where you have agreed to this.</p>

        <p><strong>We collect information in order:</strong></p>

        <p>a) to generate an overall audience profile of visitors using the Website. This information is then used
            to assist in developing relevant content on the Website as well as ensuring that automotive trade
            advertisers looking to reach specific audience groups are encouraged to place their stock or promotions
            on the Website.</p>

        <p>b) to provide customers who have supplied their insurance renewal date information and/or vehicle
            ownership details, with relevant and timely consumer offers by email.</p>

        <p>c) to support our 'Send to Mobile' functionality - whereby visitors to our Website can send details of
            vehicles for sale to mobile phones.</p>

        <p>d) to administer the Website and for internal operations, including troubleshooting, data analysis,
            testing, research, statistical and survey purposes.</p>


        <p>Vehicle Registration Numbers are required in order to place an advert on the Website. If you have opted
            in for 3rd party marketing then your vehicle registration number may be used to supply relevant offers
            and services including, without limitation, insurance quotations, vehicle history and credit checks,
            vehicle valuations and such other services as are developed by Auto Trader from time to time. As part of
            the provision of these services, the third party authorised may need to disclose the Vehicle
            Registration Number to another third party for example, without limitation, an insurer, insurance panel
            or credit reference agency. Auto Trader will not disclose the Vehicle Registration Number to any person
            carrying out vehicle searches on the Website, however, if he Vehicle Registration Number is displayed in
            photographs then the details are visible and non-approved other parties may use them.</p>

        <p><strong>Information you provide when requesting or using services on the Website</strong></p>

        <p>If you would like to book a test drive of a new car or bike, or to request a quote or brochure, we will
            require you to supply your name, email address, postal address and telephone number. Your contact
            details are collected to enable us to pass your details onto third parties who will contact you
            directly.</p>
        <p>If you use the chat service to communicate with Dealers ("Chat Service"), you may disclose personal information in the course of using the service. All conversations and email exchanges are recorded. Any personal information that you disclose during a live chat or via an online form will be accessible to and processed by the third party supplier of the Chat Service and to the dealer with whom you communicate as well as being made available to Auto Trader.</p>

        <p><strong>Information we collect if you use our Mobile Applications</strong></p>

        <p>If you choose to download or use our Mobile Applications, or access one of our mobile optimised sites, we
            may receive information about your location and your mobile device, including a unique identifier for
            your device. We may use this information to provide you with location based services, such as
            advertising, search results, and other personalised content. Most mobile devices allow you to control or
            disable location services within the mobile device’s settings. If you have questions about how to
            disable your device's location services, we recommend you contact your mobile service carrier or the
            manufacture of your particular device.</p>
        <p>By submitting personal information to us, you are deemed to have agreed to the terms set out above regarding the use of your personal information.</p>
        <p>Auto Trader may also contact you for research purposes.</p>

    </div>
    
        <h2>Where we store your personal data</h2>
        <p>Auto Trader will take all reasonable steps to ensure that your data is treated securely and in accordance with this Privacy Policy.</p>
        <p>All information (except Payment Card information) you provide to Auto Trader is stored on Auto Trader's secure servers.</p>

        <p>Once Auto Trader has received your information, Auto Trader will use strict procedures and security
            features try to prevent any unauthorised access.</p>
    </div>


  