
<div class="container">
<div class="row">
  <div class="col-xs-12">
	           <h1>Privacy policy</h1>

            <strong>Explaining cookies on our website</strong>
    		<p>When you visit our Website we issue a "cookie" file which is stored on your browser or the hard drive of your computer. Cookies contain information that is transferred to your computer's hard drive. Cookies are widely used in order to make websites work, or work more efficiently, as well as to provide information. Cookies enable us to: improve the use of our Website; to recognise your computer; to store settings to help facilitate your use of our Website; and to deliver a better and more personalised service.</p>
    		<p>Some of the cookies we use are essential for the Website to operate and have already been set. You may delete and block all or some cookies from this Website. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies as soon as you visit our Website.</p>
    		<p>If your computer is configured to accept cookies we will be able to provide time saving functionality such as the ability to pre-fill the enquiry forms with your details, thus preventing the need to re-input them each time you need to contact us.</p>
            <strong>Why we use cookies</strong>
            <p>We use cookies for 2 purposes: </p>
    		<ol>

        	<li>To enable the delivery of functionality that improves the ease and speed of using the Website (see above).</li>
			<li>To enable us to track the relative popularity of disparate parts of our Website. This in turn enables us to concentrate our efforts on developing those parts of the Website that are generating the greatest consumer demand.</li>
            </ol>

            <strong>Third Party Cookies</strong>
            <p>We also use third party cookies on our Website for various purposes, examples detailed below:</p> 
            <ul>
            <li>
            <strong>Google Analytics</strong>
            This is a tool that we use to better understand how people are using our website. It is also used by Google to better understand the performance of its own websites.
            What information are they tracking?
            The Google Analytics cookie enables our website to recognise you if you visit again - as well as information about the pages you visit; when you visit; how long you visit our website; the IP address and what site you were looking at before arriving at our site (the referring url). 

        </li>

        <li>
            <strong>We also use Google to provide services such as Google Maps and You Tube</strong>
            YouTube uses cookies to collect information and to help maintain the integrity of video statistics, prevent fraud and to improve the site experience, among other things. YouTube uses cookies on both youtube.com and on videos embedded from youtube.com. 
            See more information on Google's 
            </li>

        <li>
            <strong>eVisit Analyst</strong> 
            eVisit use cookies to carry out statistical analysis of page use, page interactions and paths through our website This information allows us to identify customers and more accurately understand individual behaviours and needs. This means that we can more easily tailor offers and information which may be of interest to individuals. This also enables us to carry out Search Engine Optimisation (SEO) which allow us to optimise our sites visibility in Google search listings and in turn make our website and information quick and easy to find.
        </li>

        <li>
            <strong>Boomerang - (Yahoo)</strong>
            We use Boomerang to measures the performance of our website from the user's point of view. Boomerang sends this data back to us for further analysis. With this information we find out exactly how fast a user's experience of our site is and as a result we can use this data to increase the performance of our website.  
        </li>

        <li>
                <strong>Video Chat Service</strong>
                We use a third party supplier to provide the Video Chat Service.  The supplier may use cookies, over which we have no control.  The cookies are used to manage your video chat session, to track your preferences and to personalise your experience.  You may disable persistent cookies.  However, if you disable the session cookie you will not be able to use the Video Chat Service.  If you wish to find out more about the supplier's use of cookies please refer to their 
            </li>
        </ul>
        
        		<strong>Automatic Logging of Session Data</strong>
        		<p>We automatically log generic information about your computer and your computer's connection to the Internet which we call "session data".  Session data consists of things such as device information, IP address, operating system and browser software information, and the activities conducted by you while on our Website.  An IP address is a number that lets computers attached to the Internet, such as our web servers, know where to send data back to the user, such as the pages of the Website the user wishes to view.  We collect session data because it helps us to analyse such things as what items visitors are likely to click on most, the way visitors are clicking through the Website, how many visitors are surfing to various pages on the Website, how long visitors to the Website are staying and how often they are visiting. 

                 It also helps us diagnose problems with our servers and lets us better administer our systems.  It is possible to determine from an IP address a visitor's Internet Service provider (ISP) and the approximate geographical location of his or her point of connectivity. We also use session data to help prevent fraud and unauthorised use of our Website.</p>
        		<p><strong>For further information on cookies or for details on how to delete them or refuse their installation on your computer, please visit <a href="http://www.aboutcookies.org/" rel="external">http://www.aboutcookies.org/</a></strong></p>

        </div>
    </div>
</div>

			 