<h1>Comments Notifications</h1>

<p>
  <%= @greeting %>, Thank you for commenting on our classic cars. if your comment requires a responce from administrator then you will updated through the email you provided when signing up.
</p>
