<!-- app\views\_search.html.erb -->
 <form class="navbar-form navbar-left">
      </form>

      <%= form_tag my_path  do %>
    <%= text_field_tag :search_string %>       
    <button submit_tag type="Search" class="btn btn-default">Search</button>
     
<% end %>

